/* General Styles */
.main-content {
  border: 1px solid #e0e0e0;
  padding: 30px;
}

.sub-content {
  border: 1px solid #e0e0e0;
  padding: 30px;
  border-radius: 15px;
  margin-top: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.setting-head {
  display: flex;
  gap: 50px;
  padding: 20px;
}

#edit-profile {
  font-weight: 600;
  font-size: 1.2rem;
}

.settings-sub {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 1.2rem;
}

.settings-form {
  box-shadow: inset;
  margin: 0 50px;
}

.settings-input {
  display: flex;
  gap: 10px;
  padding: 20px;
  margin-top: 10px;
}

.settings-input label {
  font-weight: 600;
  font-size: 1.2rem;
}

.settings-input input {
  padding: 8px 50px;
  border: 1px solid #e0e0e0;
  border-radius: 15px;
}

.settings-input button {
  padding: 10px 40px;
  border: 0 solid #e0e0e0;
  color: white;
  border-radius: 15px;
  background-color: rgba(0, 0, 255, 0.473);
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: 25px;
}

.save-changes {
  text-align: center;
  padding: 30px;
}

.button-save {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 1.2rem;
  color: whitesmoke;
  padding: 10px 80px;
  border: 0 solid;
  border-radius: 15px;
  background-color: rgba(0, 0, 255, 0.473);
}

/* Responsive Design */
@media screen and (max-width: 1024px) {
  .setting-head {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .main-content, .sub-content {
    padding: 20px;
  }

  .settings-form {
    margin: 0 20px;
  }

  .settings-input {
    flex-direction: column;
    align-items: center;
  }

  .settings-input label {
    font-size: 1rem;
  }

  .settings-input input {
    padding: 8px 20px;
  }

  .settings-input button {
    font-size: 1rem;
    padding: 10px 30px;
  }

  .button-save {
    font-size: 1rem;
    padding: 10px 40px;
  }
}

@media screen and (max-width: 768px) {
  .setting-head {
    padding: 15px;
  }

  .main-content, .sub-content {
    padding: 15px;
  }

  .settings-form {
    margin: 0 10px;
  }

  .settings-input input {
    padding: 8px 20px;
  }

  .settings-input button {
    font-size: 1rem;
    padding: 10px 25px;
  }

  .button-save {
    font-size: 1rem;
    padding: 10px 30px;
  }
}

@media screen and (max-width: 480px) {
  .setting-head {
    padding: 10px;
    gap: 10px;
  }

  .main-content, .sub-content {
    padding: 10px;
  }

  .settings-form {
    margin: 0 5px;
  }

  .settings-input {
    flex-direction: column;
    gap: 10px;
  }

  .settings-input label {
    font-size: 1rem;
  }

  .settings-input input {
    width: 100%;
    padding: 8px 20px;
  }

  .settings-input button {
    font-size: 1rem;
    padding: 10px 20px;
  }

  .button-save {
    font-size: 1rem;
    padding: 10px 30px;
  }
}
