/* General Styles for the Dashboard Section */
.main-section-sub {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
  padding: 20px;
  border-radius: 8px;
}

.main-section-sub .col {
  flex: 1;
  min-width: 200px;
  text-align: left;
  font-size: 1rem;
  font-weight: bold;
  padding: 30px;
  border-radius: 15px;
  background-color: #0063cc36;
  color: rgba(0, 0, 0, 0.781);
}

#total-sub {
  background-color: #6074E4;
  color: rgba(255, 255, 255, 0.623);
}

.main-section-sub .col:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.main-section-sub .sub-number {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  text-align: left;
}

.sub-section {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 4px;
}

.subcription-days {
  display: flex;
  justify-content: space-between;
}

.usage-analytics {
  flex: 1;
  padding: 40px 70px;
  background: #0063cc36;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.usage-analytics .charts {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 400px;
  margin-top: 20px;
}

.usage-analytics .bar {
  width: 12%;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 10px;
  position: relative;
  transition: all 0.3s ease;
}

.total {
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
}

.amount-list {
  display: flex;
  flex-direction: column;
  gap: 30px;

}

.usage-analytics .bar:hover {
  background-color: #2980b9;
}

.usage-analytics .label {
  position: absolute;
  bottom: -20px;
  font-size: 0.9rem;
  color: #34495e;
}

.subcription {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px;
}

.subscription-container {
  flex: 1;
  padding: 20px;
  height: 530px;
  background: #0063cc36;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.subscription-container .circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border-left: 15px yellow solid;
  border-right: 15px red solid;
  border-top: 15px blue solid;
  border-bottom:15px green solid;
  margin: 50px auto;
}

.subscription-container .entertainment-container {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.entertainment-container .entertainment,
.entertainment-container .work,
.entertainment-container .education,
.entertainment-container .productivity {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  border-radius: 50%;
}

.circle-description {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
  padding: 10px;
  margin-top: 10px;

}

.entertainment {
  background-color: red;
}

.work {
  background-color: yellow;
}

.education {
  background-color: blue;
}

.productivity {
  background-color: green;
}

/* My Subscriptions Section */
.my-sub-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
}

.my-sub {
  font-size: 1.5rem;
  font-weight: bold;
}

.add-sub {
  font-weight: 500;
}

.add {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.add .plus img {
  width: 20px;
  margin-right: 10px;
}

/* All Subscriptions Section */
.all-subcription{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 20px;
}

.subscrption-status-container {
  grid-row: span 2;
}

.sub-subcription {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  min-width: 300px;
  padding: 15px;
  background: #0063cc36;
  border-radius: 8px;
}

.sub-subcription:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.sub-subcription img {
  width: 50px;
  height: 50px;
  margin-left: -15px;
}

.description-image-sub {
  flex: 1;
  margin-left: 10px;
}

.description-image-sub1 {
  text-align: right;
  font-size: 12px;
}

.subscrption-status-container {
  flex: 1;
  padding: 20px;
  background: #0063cc36;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.subscrption-status-container .status-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: blue;
}

.subscrption-status-container .status2-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
}

.line-bar {
  width: 300px;
  height: 50px;
  padding: 20px;
  background: linear-gradient(to right, blue 60%, black 40%);
  border-radius: 10px;
  margin: 50px 10px;
}

.status-sub {
  display: flex;
}

.sub-status {
  font-size: 18px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.596);
  padding: 10px;
}

.inactive {
  margin-left: 20px;
}

.status-detail {
  margin-top: -16px;
  margin-left: 12px;
  font-size: 13px;
}

.name-sub {
  font-weight: bold;
  font-size: 1rem;
  width: 300px;
}

.sub-date {
  font-size: 8px;
}

.name2-sub {
  font-weight: bold;
}

#description-image-subN {
  margin-left: -70px;
}
